<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./includes/head.ejs") %>
  </head>
  <body>
    <%- include("./includes/socialMedia.ejs") %> <%-
    include("./includes/navigation.ejs") %>

    <section
      class="hero-wrap hero-wrap-2 js-fullheight mb-5"
      style="background-image: url(/asset/pla.jpg)"
    >
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end">
          <div class="col-md-9 ftco-animate pb-5">
            <p class="breadcrumbs mb-2">
              <span class="mr-2"
                ><a href="/">Home <i class="fa fa-chevron-right"></i></a
              ></span>
              <span>Daily Devotion <i class="fa fa-chevron-right"></i></span>
            </p>
            <h1 class="mb-0 bread">Daily Devotion</h1>
          </div>
        </div>
      </div>
    </section>
    <div class="row">
       <% devotion.map((element)=>{ %>
      <div class="col-md-4 col-lg-4 "></div>
      <div class="card" style="width: 30rem">
        <img src="/asset/children.jpg" class="card-img-top" alt="fruits of life" />
        <div class="card-body">
          <h1 class="card-title text-uppercase">Topic: <%=element.title%></h1><br>
          <h5 class="card-subtitle mb-2 text-muted">FRUITS OF LIFE DAILY DEVOTION BY PASTOR KINGSLEY OYAKHILOME</h6><br>
          <h5 class="card-subtitle mb-2 text-black"><%=element.date%></h5><br>
          <h5 class="card-subtitle mb-2 text-m uted">Scripture: <%=element.scripture%></h5><br>
          <h6 class="card-text">
            <p><%=element.sermon%></p>
          </h6><br>
          <h5 class="card-subtitle mb-2 text-black">Thought for the day: <%=element.thoughtForTheDay%></h5><br>
          <h5 class="card-subtitle mb-2 text-black">Prayer: <%=element.prayer%></h5><br>
          <h5 class="card-subtitle mb-2 text-black">Confession: <%=element.confession%></h5><br>
          <h5 class="card-subtitle mb-2 text-black">Prophet's Blessing: <%=element.prophet_blessing%></h5><br>
          <h5 class="card-subtitle mb-2 text-black">Daily Bible Reading: <%=element.dailyBibleReading%></h5><br>
        </div>
      </div>
      <% }) %>
      <%- include("./includes/footer.ejs") %> <%- include("./includes/script.ejs") %>

  </body>
</html>
