<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./includes/head.ejs") %>
  </head>

  <body>
    <%- include("./includes/socialMedia.ejs") %> <%-
    include("./includes/navigation.ejs") %>
    <section
      class="hero-wrap hero-wrap-2 js-fullheight"
      style="background-image: url(/asset/church.jpg)"
    >
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end js-fullheight">
          <div class="col-md-9 ftco-animate pb-5">
            <p class="breadcrumbs mb-2">
              <span class="mr-2"
                ><a href="/">Home <i class="fa fa-chevron-right"></i></a
              ></span>
              <span>Events <i class="fa fa-chevron-right"></i></span>
            </p>
            <h1 class="mb-0 bread">Events</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section ftco-no-pt">
      <div class="container">
        <div
          class="row justify-content-center pb-5 mb-3"
          style="padding-top: 150px"
        >
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Events</span>
            <h2>Latest Events</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 event-wrap d-md-flex ftco-animate">
            <div
              class="img"
              style="background-image: url(/asset/love.jpg)"
            ></div>
            <div class="text p-4 px-md-5 d-flex align-items-center">
              <div class="desc">
                <h2 class="mb-4">
                  <a href="/events">Word and Holy Commiunion Service</a>
                </h2>
                <div class="meta">
                  <p>
                    <span
                      ><i class="fa fa-calendar mr-2"></i> Wednesday, 6:30 Pm -
                      8:00 Pm</span
                    >
                    <span
                      ><i class="fa fa-map-marker mr-2 text-capitalize"></i>
                      <a href="/">Jesus power and victory ministry</a></span
                    >
                    <span
                      ><i class="fa fa-building mr-2"></i> 65 Sanni Balogun
                      Street, New Okan Ogba, Abule Egba, Lagos, Nigeria
                    </span>
                  </p>
                </div>
                <p>
                  <a href="/events" class="btn btn-primary">More Details</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 event-wrap d-md-flex ftco-animate">
            <div
              class="img"
              style="background-image: url(/asset/spirituality.jpg)"
            ></div>
            <div class="text p-4 px-md-5 d-flex align-items-center">
              <div class="desc">
                <h2 class="mb-4">
                  <a href="/events">Night of Answers</a>
                </h2>
                <div class="meta">
                  <p>
                    <span
                      ><i class="fa fa-calendar mr-2"></i> Every Last Friday of
                      the Month, 7:30 Pm - 10:00 Pm</span
                    >
                    <span
                      ><i class="fa fa-map-marker mr-2 text-capitalize"></i>
                      <a href="/">Jesus power and victory ministry</a></span
                    >
                    <span
                      ><i class="fa fa-building mr-2"></i> 65 Sanni Balogun
                      Street, New Okan Ogba, Abule Egba, Lagos, Nigeria</span
                    >
                  </p>
                </div>
                <p>
                  <a href="/events" class="btn btn-primary">More Details</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 event-wrap d-md-flex ftco-animate">
            <div
              class="img"
              style="background-image: url(/asset/pray.jpg)"
            ></div>
            <div class="text p-4 px-md-5 d-flex align-items-center">
              <div class="desc">
                <h2 class="mb-4">
                  <a href="/events">Every First Sunday of the Month</a>
                </h2>
                <div class="meta">
                  <p>
                    <span
                      ><i class="fa fa-calendar mr-2"></i> Sunday, 9:00 Am -
                      12:00 Pm</span
                    >
                    <span
                      ><i class="fa fa-map-marker mr-2 text-capitalize"></i>
                      <a href="/">Jesus power and victory ministry</a></span
                    >
                    <span
                      ><i class="fa fa-building mr-2"></i> 65 Sanni Balogun
                      Street, New Okan Ogba, Abule Egba, Lagos, Nigeria</span
                    >
                  </p>
                </div>
                <p>
                  <a href="/events" class="btn btn-primary">More Details</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include("./includes/footer.ejs") %> <%- include("./includes/script.ejs")
    %>
  </body>
</html>
