<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./includes/head.ejs") %>
  </head>
  <body>
    <%- include("./includes/socialMedia.ejs") %> <%-
    include("./includes/navigation.ejs") %> <%-
    include("./includes/carousel.ejs") %>
    <section class="ftco-section ftco-no-pb ftco-no-pt">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-8 d-flex">
            <div class="row no-gutters">
              <div class="col-md-4">
                <div class="services-2">
                  <div class="icon">
                    <span> <i class="fas fa-church"></i></span>
                  </div>
                  <div class="text">
                    <h4>Worhip</h4>
                    <span class="subheading">What to expect</span>
                    <p>
                      Far far away, behind the word mountains, far from the
                      countries Vokalia and Consonantia, there live the blind
                      texts.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="services-2">
                  <div class="icon">
                    <span><i class="fas fa-praying-hands"></i></span>
                  </div>
                  <div class="text">
                    <h4>Connect</h4>
                    <span class="subheading">Contact Members</span>
                    <p>
                      Far far away, behind the word mountains, far from the
                      countries Vokalia and Consonantia, there live the blind
                      texts.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="services-2">
                  <div class="icon">
                    <span><i class="far fa-heart"></i></span>
                  </div>
                  <div class="text">
                    <h4>God's Love</h4>
                    <span class="subheading">Beliefs and History</span>
                    <p>
                      Far far away, behind the word mountains, far from the
                      countries Vokalia and Consonantia, there live the blind
                      texts.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex">
            <div class="services-2 services-block">
              <div class="text">
                <h4>
                  A Christian should live for the glory of God and the
                  well-being of others.
                </h4>
                <p>
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section ftco-no-pt ftco-no-pb bg-light">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-6 d-flex">
            <div
              class="
                img img-video
                d-flex
                align-self-stretch align-items-center
                justify-content-center justify-content-md-center
                mb-4 mb-sm-0
              "
              style="background-image: url(/asset/come-as-you-are.jpg)"
            ></div>
          </div>
          <div class="col-md-6 pl-md-5 py-md-5">
            <div class="heading-section pt-md-5 mb-4">
              <span class="subheading"
                >Welcome to Jesus Power and Victory Ministry</span
              >
              <h2 class="mb-5">Connect, Grow and Serve with Us</h2>
              <p>
                A small river named Duden flows by their place and supplies it
                with the necessary regelialia. It is a paradisematic country, in
                which roasted parts of sentences fly into your mouth.
              </p>
              <p>
                A small river named Duden flows by their place and supplies it
                with the necessary regelialia. It is a paradisematic country, in
                which roasted parts of sentences fly into your mouth.
              </p>
              <p><a href="#" class="btn btn-primary">Learn More</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-counter bg-primary" id="section-counter">
      <div class="container">
        <div class="row">
          <div class="col-md-3 mb-5 mb-md-0 text-center text-md-left">
            <h2
              class="font-weight-bold"
              style="color: #fff; font-size: 22px; text-transform: uppercase"
            >
              Our Mandate
            </h2>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div
                class="
                  col-md-6 col-lg-3
                  d-flex
                  justify-content-center
                  counter-wrap
                  ftco-animate
                "
              >
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number">Jesus is Lord</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Our Sermons</span>
            <h2>Watch and Listen to our Sermons</h2>
          </div>
        </div>
        <div class="row no-gutters d-flex sermon-wrap ftco-animate bg-light">
          <div
            class="
              col-md-6
              d-flex
              align-items-stretch
              js-fullheight
              ftco-animate
            "
          >
            <a
              href="/sermons"
              class="img"
              style="background-image: url(/asset/bible-study.jpg)"
            ></a>
          </div>
          <div
            class="col-md-6 py-4 py-md-5 ftco-animate d-flex align-items-center"
          >
            <div class="text p-md-5">
              <h2 class="mb-4">
                <a href="/sermons">God Wants To Do A New Thing In Your Life</a>
              </h2>
              <div class="meta">
                <p>
                  <span
                    >Speaker:
                    <a href="/" class="ptr">Pastor Kingsley oyakhilome</a></span
                  >
                  <span
                    >Categories: <a href="/">God</a>, <a href="/">Pray</a>,
                    <a href="/">Faith</a></span
                  >
                  <span><a href="/">On Sunday 13 Jan, 2019</a></span>
                </p>
              </div>
              <p>
                A small river named Duden flows by their place and supplies it
                with the necessary regelialia. It is a paradisematic country, in
                which roasted parts of sentences fly into your mouth. Separated
                they live in Bookmarksgrove right at the coast of the Semantics,
                a large language ocean.
              </p>
              <p class="mt-4 btn-customize">
                <a
                  href="https://vimeo.com/45830194"
                  class="btn btn-primary px-4 py-3 mr-md-2 popup-vimeo"
                  ><span class="fa fa-play"></span> Watch Sermons</a
                >
                <a
                  href="#"
                  class="btn btn-primary btn-outline-primary px-4 py-3 ml-lg-2"
                  ><span class="fa fa-download"></span> Download Sermons</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="row no-gutters d-flex sermon-wrap ftco-animate bg-light">
          <div
            class="
              col-md-6
              d-flex
              align-items-stretch
              js-fullheight
              ftco-animate
              order-md-last
            "
          >
            <a
              href="#"
              class="img"
              style="background-image: url(/asset/bible-study2.jpg)"
            ></a>
          </div>
          <div
            class="col-md-6 py-4 py-md-5 ftco-animate d-flex align-items-center"
          >
            <div class="text p-md-5">
              <h2 class="mb-4">
                <a href="/sermons">God Wants To Do A New Thing In Your Life</a>
              </h2>
              <div class="meta">
                <p>
                  <span
                    >Speaker:
                    <a href="/" class="ptr">Pastor Kingaley Oyakhilome</a></span
                  >
                  <span
                    >Categories: <a href="/">God</a>, <a href="#">Pray</a>,
                    <a href="/">Faith</a></span
                  >
                  <span><a href="/">On Sunday 13 Jan, 2019</a></span>
                </p>
              </div>
              <p>
                A small river named Duden flows by their place and supplies it
                with the necessary regelialia. It is a paradisematic country, in
                which roasted parts of sentences fly into your mouth. Separated
                they live in Bookmarksgrove right at the coast of the Semantics,
                a large language ocean.
              </p>
              <p class="mt-4 btn-customize">
                <a
                  href="https://vimeo.com/45830194"
                  class="btn btn-primary px-4 py-3 mr-md-2 popup-vimeo"
                  ><span class="fa fa-play"></span> Watch Sermons</a
                >
                <a
                  href="#"
                  class="btn btn-primary btn-outline-primary px-4 py-3 ml-lg-2"
                  ><span class="fa fa-download"></span> Download Sermons</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="row no-gutters d-flex sermon-wrap ftco-animate bg-light">
          <div
            class="
              col-md-6
              d-flex
              align-items-stretch
              js-fullheight
              ftco-animate
            "
          >
            <a
              href="#"
              class="img"
              style="background-image: url(/asset/bible-study3.jpg)"
            ></a>
          </div>
          <div
            class="col-md-6 py-4 py-md-5 ftco-animate d-flex align-items-center"
          >
            <div class="text p-md-5">
              <h2 class="mb-4">
                <a href="/sermons">God Wants To Do A New Thing In Your Life</a>
              </h2>
              <div class="meta">
                <p>
                  <span
                    >Speaker:
                    <a href="/" class="ptr">Pastor Kingsley Oyakhilome</a></span
                  >
                  <span
                    >Categories: <a href="/">God</a>, <a href="/">Pray</a>,
                    <a href="/">Faith</a></span
                  >
                  <span><a href="/">On Sunday 13 Jan, 2019</a></span>
                </p>
              </div>
              <p>
                A small river named Duden flows by their place and supplies it
                with the necessary regelialia. It is a paradisematic country, in
                which roasted parts of sentences fly into your mouth. Separated
                they live in Bookmarksgrove right at the coast of the Semantics,
                a large language ocean.
              </p>
              <p class="mt-4 btn-customize">
                <a
                  href="https://vimeo.com/45830194"
                  class="btn btn-primary px-4 py-3 mr-md-2 popup-vimeo"
                  ><span class="fa fa-play"></span> Watch Sermons</a
                >
                <a
                  href="#"
                  class="btn btn-primary btn-outline-primary px-4 py-3 ml-lg-2"
                  ><span class="fa fa-download"></span> Download Sermons</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section testimony-section">
      <div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center pb-5">
          <div
            class="
              col-md-7
              heading-section heading-section-white
              text-center
              ftco-animate
            "
          >
            <span class="subheading">Testimony</span>
            <h2>Transform Lives</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap d-md-flex">
                  <div
                    class="user-img"
                    style="background-image: url(/asset/lana.jpg)"
                  ></div>
                  <div class="text pl-md-4">
                    <span
                      class="
                        quote
                        d-flex
                        align-items-center
                        justify-content-center
                      "
                    >
                      <i class="fa fa-quote-left"></i>
                    </span>
                    <p>
                      Far far away, behind the word mountains, far from the
                      countries Vokalia and Consonantia, there live the blind
                      texts.
                    </p>
                    <p class="name">Michael Fox</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-md-flex">
                  <div
                    class="user-img"
                    style="background-image: url(/asset/lana.jpg)"
                  ></div>
                  <div class="text pl-md-4">
                    <span
                      class="
                        quote
                        d-flex
                        align-items-center
                        justify-content-center
                      "
                    >
                      <i class="fa fa-quote-left"></i>
                    </span>
                    <p>
                      Far far away, behind the word mountains, far from the
                      countries Vokalia and Consonantia, there live the blind
                      texts.
                    </p>
                    <p class="name">Mike Shawn</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-md-flex">
                  <div
                    class="user-img"
                    style="background-image: url(/asset/lana.jpg)"
                  ></div>
                  <div class="text pl-md-4">
                    <span
                      class="
                        quote
                        d-flex
                        align-items-center
                        justify-content-center
                      "
                    >
                      <i class="fa fa-quote-left"></i>
                    </span>
                    <p>
                      Far far away, behind the word mountains, far from the
                      countries Vokalia and Consonantia, there live the blind
                      texts.
                    </p>
                    <p class="name">Mark Smith</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-md-flex">
                  <div
                    class="user-img"
                    style="background-image: url(/asset/lana.jpg)"
                  ></div>
                  <div class="text pl-md-4">
                    <span
                      class="
                        quote
                        d-flex
                        align-items-center
                        justify-content-center
                      "
                    >
                      <i class="fa fa-quote-left"></i>
                    </span>
                    <p>
                      Far far away, behind the word mountains, far from the
                      countries Vokalia and Consonantia, there live the blind
                      texts.
                    </p>
                    <p class="name">Kyle Meyer</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-md-flex">
                  <div
                    class="user-img"
                    style="background-image: url(/asset/lana.jpg)"
                  ></div>
                  <div class="text pl-md-4">
                    <span
                      class="
                        quote
                        d-flex
                        align-items-center
                        justify-content-center
                      "
                    >
                      <i class="fa fa-quote-left"></i>
                    </span>
                    <p>
                      Far far away, behind the word mountains, far from the
                      countries Vokalia and Consonantia, there live the blind
                      texts.
                    </p>
                    <p class="name">John Doe</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section ftco-no-pt">
      <div class="container">
        <div
          class="row justify-content-center pb-5 mb-3"
          style="padding-top: 150px"
        >
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Events</span>
            <h2>Latest Events</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 event-wrap d-md-flex ftco-animate">
            <div
              class="img"
              style="background-image: url(/asset/love.jpg)"
            ></div>
            <div class="text p-4 px-md-5 d-flex align-items-center">
              <div class="desc">
                <h2 class="mb-4">
                  <a href="/events">Word and Holy Commiunion Service</a>
                </h2>
                <div class="meta">
                  <p>
                    <span
                      ><i class="fa fa-calendar mr-2"></i> Wednesday, 6:30 Pm -
                      8:00 Pm</span
                    >
                    <span
                      ><i class="fa fa-map-marker mr-2 text-capitalize"></i>
                      <a href="/">Jesus power and victory ministry</a></span
                    >
                    <span
                      ><i class="fa fa-building mr-2"></i> 65 Sanni Balogun
                      Street, New Okan Ogba, Abule Egba, Lagos, Nigeria
                    </span>
                  </p>
                </div>
                <p>
                  <a href="/events" class="btn btn-primary">More Details</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 event-wrap d-md-flex ftco-animate">
            <div
              class="img"
              style="background-image: url(/asset/spirituality.jpg)"
            ></div>
            <div class="text p-4 px-md-5 d-flex align-items-center">
              <div class="desc">
                <h2 class="mb-4">
                  <a href="/events">Night of Answers</a>
                </h2>
                <div class="meta">
                  <p>
                    <span
                      ><i class="fa fa-calendar mr-2"></i> Every Last Friday of
                      the Month, 7:30 Pm - 10:00 Pm</span
                    >
                    <span
                      ><i class="fa fa-map-marker mr-2 text-capitalize"></i>
                      <a href="/">Jesus power and victory ministry</a></span
                    >
                    <span
                      ><i class="fa fa-building mr-2"></i> 65 Sanni Balogun
                      Street, New Okan Ogba, Abule Egba, Lagos, Nigeria</span
                    >
                  </p>
                </div>
                <p>
                  <a href="/events" class="btn btn-primary">More Details</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 event-wrap d-md-flex ftco-animate">
            <div
              class="img"
              style="background-image: url(/asset/pray.jpg)"
            ></div>
            <div class="text p-4 px-md-5 d-flex align-items-center">
              <div class="desc">
                <h2 class="mb-4">
                  <a href="/events">Every First Sunday of the Month</a>
                </h2>
                <div class="meta">
                  <p>
                    <span
                      ><i class="fa fa-calendar mr-2"></i> Sunday, 9:00 Am -
                      12:00 Pm</span
                    >
                    <span
                      ><i class="fa fa-map-marker mr-2 text-capitalize"></i>
                      <a href="/">Jesus power and victory ministry</a></span
                    >
                    <span
                      ><i class="fa fa-building mr-2"></i> 65 Sanni Balogun
                      Street, New Okan Ogba, Abule Egba, Lagos, Nigeria</span
                    >
                  </p>
                </div>
                <p>
                  <a href="/events" class="btn btn-primary">More Details</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section ftco-no-pb ftco-no-pt">
      <div class="container-fluid px-md-0">
        <div class="row no-gutters justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Gallery</span>
            <h2>Galleries</h2>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-md-3">
            <a
              href="/"
              class="image-popup img gallery ftco-animate"
              style="background-image: url(/asset/bible-study.jpg)"
            >
              <span class="overlay"></span>
            </a>
          </div>
          <div class="col-md-3">
            <a
              href="/"
              class="image-popup img gallery ftco-animate"
              style="background-image: url(/asset/bible-study2.jpg)"
            >
              <span class="overlay"></span>
            </a>
          </div>
          <div class="col-md-3">
            <a
              href="/"
              class="image-popup img gallery ftco-animate"
              style="background-image: url(/asset/bible-study3.jpg)"
            >
              <span class="overlay"></span>
            </a>
          </div>
          <div class="col-md-3">
            <a
              href="/"
              class="image-popup img gallery ftco-animate"
              style="background-image: url(/asset/kids.jpg)"
            >
              <span class="overlay"></span>
            </a>
          </div>
          <div class="col-md-6">
            <a
              href="/"
              class="image-popup img gallery ftco-animate"
              style="background-image: url(/asset/church.jpg)"
            >
              <span class="overlay"></span>
            </a>
          </div>
          <div class="col-md-3">
            <a
              href="/"
              class="image-popup img gallery ftco-animate"
              style="background-image: url(/asset/Jesus.jpg)"
            >
              <span class="overlay"></span>
            </a>
          </div>
          <div class="col-md-3">
            <a
              href="/"
              class="image-popup img gallery ftco-animate"
              style="background-image: url(/asset/spirituality.jpg)"
            >
              <span class="overlay"></span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-4 mb-4 mb-md-0">
            <h2 class="footer-heading text-capitalize">
              Jesus power and victory ministry
            </h2>
            <p>
              A small river named Duden flows by their place and supplies it
              with the necessary regelialia.
            </p>
            <ul class="ftco-footer-social p-0">
              <!-- 
                social media links for church
               -->
              <li class="ftco-animate">
                <a
                  href="/"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Facebook"
                  ><span class="fa fa-facebook"></span
                ></a>
              </li>
              <li class="ftco-animate">
                <a
                  href="/"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Instagram"
                  ><span class="fa fa-instagram"></span
                ></a>
              </li>
            </ul>
          </div>
          <div class="col-md-12 col-lg-4 pl-lg-5 mb-4 mb-md-0">
            <h2 class="footer-heading">Quick Links</h2>
            <ul class="list-unstyled">
              <li><a href="/" class="py-2 d-block">Home</a></li>
              <li><a href="/about" class="py-2 d-block">About</a></li>
              <li><a href="/sermons" class="py-2 d-block">Sermons</a></li>
              <li><a href="/events" class="py-2 d-block">Events</a></li>
              <li>
                <a href="/daily_devotion" class="py-2 d-block"
                  >Daily Devotion</a
                >
              </li>
              <li><a href="/contact" class="py-2 d-block">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-12 col-lg-4 mb-4 mb-md-0">
            <h2 class="footer-heading">Have a Questions?</h2>
            <div class="block-23 mb-3">
              <ul>
                <li>
                  <span class="icon fa fa-map"></span
                  ><span class="text"
                    >65 Sanni Balogun Street, New Okan Ogba, Abule Egba, Lagos,
                    Nigeria</span
                  >
                </li>

                <li>
                  <a href="tel:+2347039630779"
                    ><span class="icon fa fa-phone"></span
                    ><span class="text">+234 703 963 0779</span></a
                  >
                </li>
                <li>
                  <a href="mailto:oyaks4j@gmail.com"
                    ><span class="icon fa fa-paper-plane"></span
                    ><span class="text"><span>oyaks4j@gmail.com</span></span></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row mt-5">
    </footer>

    <div id="ftco-loader" class="show fullscreen">
      <svg class="circular" width="48px" height="48px">
        <circle
          class="path-bg"
          cx="24"
          cy="24"
          r="22"
          fill="none"
          stroke-width="4"
          stroke="#eeeeee"
        />
        <circle
          class="path"
          cx="24"
          cy="24"
          r="22"
          fill="none"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke="#F96D00"
        />
      </svg>
    </div>
    <%- include("./includes/script.ejs") %>
  </body>
</html>
