<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./includes/head.ejs") %>
  </head>
  <body>
    <%- include("./includes/socialMedia.ejs") %> <%-
    include("./includes/navigation.ejs") %> <%-
    include("./includes/carousel.ejs") %> <%- include("./includes/belief.ejs")
    %>
    <section class="ftco-section ftco-no-pt ftco-no-pb bg-light">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-6 d-flex">
            <div
              class="
                img img-video
                d-flex
                align-self-stretch align-items-center
                justify-content-center justify-content-md-center
                mb-4 mb-sm-0
              "
              style="background-image: url(/asset/come-as-you-are.jpg)"
            ></div>
          </div>
          <div class="col-md-6 pl-md-5 py-md-5">
            <div class="heading-section pt-md-5 mb-4">
              <span class="subheading" style="color: #b00 !important"
                >Welcome to Jesus Power and Victory Ministry</span
              >
              <h2 class="mb-5">Connect, Grow and Serve with Us</h2>
              <h3 class="text-uppercase">Mission Statement</h3>
              <p>
                To reach and win the unsaved to the Lord Jesus Christ. Disciple
                them to become matured and committed labours in the kingdom of
                God, to the glory of God the Faher
              </p>
              <p><a href="/about" class="btn btn-primary">Learn More</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="ftco-counter"
      style="background-color: #2a49af50"
      id="section-counter"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-3 mb-5 mb-md-0 text-center text-md-left"></div>
          <div class="col-md-9">
            <div class="row">
              <div
                class="
                  col-md-6 col-lg-9
                  d-flex
                  justify-content-center
                  counter-wrap
                  ftco-animate
                "
              >
                <div class="block-18 text-center">
                  <div class="text">
                    <h2
                      class="font-weight-bold"
                      style="
                        color: #fff;
                        font-size: 22px;
                        text-transform: uppercase;
                      "
                    >
                      Our Mandate
                    </h2>
                    <span class=""
                      >Our mandate speaks of impacting mankind with the power of
                      Jesus Christ thereby liberating the oppressed and
                      afflicted by the devil and his vices. Which will enable
                      them to live in victory and fulfil their God given
                      destinies. This is our mandate...</span
                    ><br />
                    <em
                      class="text-uppercase"
                      style="color: #b00 !important; font-size: large"
                      >"go and tell the world of my son Jesus Christ and build
                      me a people of fruitfulness."
                    </em>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Our Sermons</span>
            <h2>Watch and Listen to our Sermons</h2>
          </div>
        </div>
        <div class="row no-gutters d-flex sermon-wrap ftco-animate bg-light">
          <div
            class="
              col-md-6
              d-flex
              align-items-stretch
              js-fullheight
              ftco-animate
            "
          >
            <a
              href="/sermons"
              class="img"
              style="background-image: url(/asset/bible-study.jpg)"
            ></a>
          </div>
          <div
            class="col-md-6 py-4 py-md-5 ftco-animate d-flex align-items-center"
          >
            <div class="text p-md-5">
              <h2 class="mb-4">
                <a href="/sermons">God Wants To Do A New Thing In Your Life</a>
              </h2>
              <div class="meta">
                <p>
                  <span
                    >Speaker:
                    <a href="/" class="ptr">Pastor Kingsley oyakhilome</a></span
                  >
                  <span
                    >Categories: <a href="/">God</a>, <a href="/">Pray</a>,
                    <a href="/">Faith</a></span
                  >
                  <span><a href="/">On Sunday 13 Jan, 2019</a></span>
                </p>
              </div>
              <p>
                A small river named Duden flows by their place and supplies it
                with the necessary regelialia. It is a paradisematic country, in
                which roasted parts of sentences fly into your mouth. Separated
                they live in Bookmarksgrove right at the coast of the Semantics,
                a large language ocean.
              </p>
              <p class="mt-4 btn-customize">
                <a
                  href="https://vimeo.com/45830194"
                  class="btn btn-primary px-4 py-3 mr-md-2 popup-vimeo"
                  ><span class="fa fa-play"></span> Watch Sermons</a
                >
                <a
                  href="#"
                  class="btn btn-primary btn-outline-primary px-4 py-3 ml-lg-2"
                  ><span class="fa fa-download"></span> Download Sermons</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="row no-gutters d-flex sermon-wrap ftco-animate bg-light">
          <div
            class="
              col-md-6
              d-flex
              align-items-stretch
              js-fullheight
              ftco-animate
              order-md-last
            "
          >
            <a
              href="#"
              class="img"
              style="background-image: url(/asset/bible-study2.jpg)"
            ></a>
          </div>
          <div
            class="col-md-6 py-4 py-md-5 ftco-animate d-flex align-items-center"
          >
            <div class="text p-md-5">
              <h2 class="mb-4">
                <a href="/sermons">God Wants To Do A New Thing In Your Life</a>
              </h2>
              <div class="meta">
                <p>
                  <span
                    >Speaker:
                    <a href="/" class="ptr">Pastor Kingaley Oyakhilome</a></span
                  >
                  <span
                    >Categories: <a href="/">God</a>, <a href="#">Pray</a>,
                    <a href="/">Faith</a></span
                  >
                  <span><a href="/">On Sunday 13 Jan, 2019</a></span>
                </p>
              </div>
              <p>
                A small river named Duden flows by their place and supplies it
                with the necessary regelialia. It is a paradisematic country, in
                which roasted parts of sentences fly into your mouth. Separated
                they live in Bookmarksgrove right at the coast of the Semantics,
                a large language ocean.
              </p>
              <p class="mt-4 btn-customize">
                <a
                  href="https://vimeo.com/45830194"
                  class="btn btn-primary px-4 py-3 mr-md-2 popup-vimeo"
                  ><span class="fa fa-play"></span> Watch Sermons</a
                >
                <a
                  href="#"
                  class="btn btn-primary btn-outline-primary px-4 py-3 ml-lg-2"
                  ><span class="fa fa-download"></span> Download Sermons</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="row no-gutters d-flex sermon-wrap ftco-animate bg-light">
          <div
            class="
              col-md-6
              d-flex
              align-items-stretch
              js-fullheight
              ftco-animate
            "
          >
            <a
              href="#"
              class="img"
              style="background-image: url(/asset/bible-study3.jpg)"
            ></a>
          </div>
          <div
            class="col-md-6 py-4 py-md-5 ftco-animate d-flex align-items-center"
          >
            <div class="text p-md-5">
              <h2 class="mb-4">
                <a href="/sermons">God Wants To Do A New Thing In Your Life</a>
              </h2>
              <div class="meta">
                <p>
                  <span
                    >Speaker:
                    <a href="/" class="ptr">Pastor Kingsley Oyakhilome</a></span
                  >
                  <span
                    >Categories: <a href="/">God</a>, <a href="/">Pray</a>,
                    <a href="/">Faith</a></span
                  >
                  <span><a href="/">On Sunday 13 Jan, 2019</a></span>
                </p>
              </div>
              <p>
                A small river named Duden flows by their place and supplies it
                with the necessary regelialia. It is a paradisematic country, in
                which roasted parts of sentences fly into your mouth. Separated
                they live in Bookmarksgrove right at the coast of the Semantics,
                a large language ocean.
              </p>
              <p class="mt-4 btn-customize">
                <a
                  href="https://vimeo.com/45830194"
                  class="btn btn-primary px-4 py-3 mr-md-2 popup-vimeo"
                  ><span class="fa fa-play"></span> Watch Sermons</a
                >
                <a
                  href="#"
                  class="btn btn-primary btn-outline-primary px-4 py-3 ml-lg-2"
                  ><span class="fa fa-download"></span> Download Sermons</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include("./includes/testimony.ejs") %>
    <section class="ftco-section ftco-no-pt">
      <div class="container">
        <div
          class="row justify-content-center pb-5 mb-3"
          style="padding-top: 150px"
        >
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Events</span>
            <h2>Church activities</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 event-wrap d-md-flex ftco-animate">
            <div
              class="img"
              style="background-image: url(/asset/pray.jpg)"
            ></div>
            <div class="text p-4 px-md-5 d-flex align-items-center">
              <div class="desc">
                <h1 class="text-uppercase" style="font-weight: 600; color: #b00;">sunday</h1>
                <h2 class="mb-4">
                  <a href="/events">Victory Celebration Service</a>
                </h2>
                <div class="meta">
                  <p>
                    <span
                      ><i class="fa fa-calendar mr-2"></i> First Service, 7:00
                      Am
                    </span>
                    <span
                      ><i class="fa fa-calendar mr-2"></i> Second Service, 9:30
                      Am</span
                    >
                    <span
                      ><i class="fa fa-map-marker mr-2 text-capitalize"></i>
                      <a href="/">Jesus power and victory ministry</a></span
                    >
                    <span
                      ><i class="fa fa-building mr-2"></i> 65 Sanni Balogun
                      Street, New Okan Ogba, Abule Egba, Lagos, Nigeria</span
                    >
                  </p>
                </div>
                <p>
                  <a href="/events" class="btn btn-primary">More Details</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 event-wrap d-md-flex ftco-animate">
            <div
              class="img"
              style="background-image: url(/asset/love.jpg)"
            ></div>
            <div class="text p-4 px-md-5 d-flex align-items-center">
              <div class="desc">
                <h1 class="text-uppercase" style="font-weight: 600; color: #b00;">Wednesday</h1>
                <h2 class="mb-4">
                  <a href="/events">Word Commiunion Service</a>
                </h2>
                <div class="meta">
                  <p>
                    <span
                      ><i class="fa fa-calendar mr-2"></i> Wednesday, 6:30 Pm -
                      8:30 Pm</span
                    >
                    <span
                      ><i class="fa fa-map-marker mr-2 text-capitalize"></i>
                      <a href="/">Jesus power and victory ministry</a></span
                    >
                    <span
                      ><i class="fa fa-building mr-2"></i> 65 Sanni Balogun
                      Street, New Okan Ogba, Abule Egba, Lagos, Nigeria
                    </span>
                  </p>
                </div>
                <p>
                  <a href="/events" class="btn btn-primary">More Details</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 event-wrap d-md-flex ftco-animate">
            <div
              class="img"
              style="background-image: url(/asset/spirituality.jpg)"
            ></div>
            <div class="text p-4 px-md-5 d-flex align-items-center">
              <div class="desc">
                <h1 class="text-uppercase" style="font-weight: 600; color: #b00;">last friday of the Month</h1>
                <h2 class="mb-4">
                  <a href="/events">Night of Answers</a>
                </h2>
                <div class="meta">
                  <p>
                    <span
                      ><i class="fa fa-calendar mr-2"></i>Last Friday of
                      the Month, 6:30 Pm - 9:30 Pm</span
                    >
                    <span
                      ><i class="fa fa-map-marker mr-2 text-capitalize"></i>
                      <a href="/">Jesus power and victory ministry</a></span
                    >
                    <span
                      ><i class="fa fa-building mr-2"></i> 65 Sanni Balogun
                      Street, New Okan Ogba, Abule Egba, Lagos, Nigeria</span
                    >
                  </p>
                </div>
                <p>
                  <a href="/events" class="btn btn-primary">More Details</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include("./includes/gallery.ejs") %> <%-
    include("./includes/footer.ejs") %> <%- include("./includes/script.ejs") %>
  </body>
</html>
