<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./includes/head.ejs") %>
  </head>

  <body>
    <%- include("./includes/socialMedia.ejs") %>
    <%-include("./includes/navigation.ejs") %>
    <%-include("./includes/breadcrumbs.ejs") %>

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Our Ministries</span>
            <h2>Introducing our Ministries</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 ministry ftco-animate">
            <div
              class="img"
              style="background-image: url(/asset/men.jpg)"
            ></div>
            <div class="text p-4">
              <h2 class="mb-4">
                <a href="/ministries">Men's Ministry</a>
              </h2>
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts.
              </p>
            </div>
          </div>
          <div class="col-md-4 ministry ftco-animate">
            <div
              class="img"
              style="background-image: url(/asset/women.jpg)"
            ></div>
            <div class="text p-4">
              <h2 class="mb-4"><a href="/ministries">Women's Ministry</a></h2>
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts.
              </p>
            </div>
          </div>
          <div class="col-md-4 ministry ftco-animate">
            <div
              class="img"
              style="background-image: url(/asset/youth.jpg)"
            ></div>
            <div class="text p-4">
              <h2 class="mb-4">
                <a href="/ministries">Youth Ministry</a>
              </h2>
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts.
              </p>
            </div>
          </div>

          <div class="col-md-4 ministry ftco-animate">
            <div
              class="img"
              style="background-image: url(/asset/children.jpg)"
            ></div>
            <div class="text p-4">
              <h2 class="mb-4">
                <a href="/ministries">Children's Ministry</a>
              </h2>
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts.
              </p>
            </div>
          </div>
          <div class="col-md-4 ministry ftco-animate">
            <div
              class="img"
              style="background-image: url(/asset/come-as-you-are.jpg)"
            ></div>
            <div class="text p-4">
              <h2 class="mb-4">
                <a href="/ministries">House Fellowship Ministry</a>
              </h2>
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts.
              </p>
            </div>
          </div>
          <div class="col-md-4 ministry ftco-animate">
            <div
              class="img"
              style="background-image: url(/asset/worship.jpg)"
            ></div>
            <div class="text p-4">
              <h2 class="mb-4"><a href="/ministries">Music Ministry</a></h2>
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">JOIN US</span>
            <h2>Join us For Fellowship at These Locations</h2>
          </div>
        </div>
        <div class="row no-gutters d-flex sermon-wrap ftco-animate bg-light">
          <div
            class="col-md-3 py-4 py-md-5 ftco-animate d-flex align-items-center"
          >
            <div class="text p-md-5">
              <h2 class="mb-4">
                <a href="/sermons">14 Johnson Street</a>
              </h2>
              <div class="meta">
                <p>
                  <span
                    >Speaker:
                    <a href="/" class="ptr">Minister Michael Kareem</a></span
                  >
                  <span><a href="/">Every Last Saturday of The Month</a></span>
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-md-3 py-4 py-md-5 ftco-animate d-flex align-items-center"
          >
            <div class="text p-md-5">
              <h2 class="mb-4">
                <a href="/sermons">14 Johnson Street</a>
              </h2>
              <div class="meta">
                <p>
                  <span
                    >Speaker:
                    <a href="/" class="ptr">Pastor Israel Olorunfemi</a></span
                  >
                  <span><a href="/">Every Last Saturday of The Month</a></span>
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-md-3 py-4 py-md-5 ftco-animate d-flex align-items-center"
          >
            <div class="text p-md-5">
              <h2 class="mb-4">
                <a href="/sermons">14 Johnson Street</a>
              </h2>
              <div class="meta">
                <p>
                  <span
                    >Speaker: <a href="/" class="ptr">Pastor Daniel</a></span
                  >
                  <span><a href="/">Every Last Saturday of The Month</a></span>
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-md-3 py-4 py-md-5 ftco-animate d-flex align-items-center"
          >
            <div class="text p-md-5">
              <h2 class="mb-4">
                <a href="/sermons">14 Johnson Street</a>
              </h2>
              <div class="meta">
                <p>
                  <span
                    >Speaker:
                    <a href="/" class="ptr">Pastor Samuel Okon</a></span
                  >
                  <span><a href="/">Every Last Saturday of The Month</a></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include("./includes/footer.ejs") %> <%- include("./includes/script.ejs")
    %>
  </body>
</html>
