<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Devotion</title>
  </head>
  <style>
    .go-top {
      background-color: #ffffff;
      box-shadow: 1px 1.732px 12px 0px rgba(0, 0, 0, 0.14),
        1px 1.732px 3px 0px rgba(0, 0, 0, 0.12);
      transition: all 1s ease;
      bottom: 2em;
      right: 2em;
      color: #333;
      font-size: 24px;
      display: none;
      position: fixed;
      text-decoration: none;
      width: 40px;
      height: 40px;
      line-height: 38px;
      text-align: center;
      border-radius: 100%;
    }
  </style>
  <body>
      <section>
           <div class="row container mb-5">
        <% devotion.map((element)=>{ %>
        <!-- <div class="col-md-6 col-lg-6 mt-5">
          <img
            src="/asset/children.jpg"
            class="img-fluid"
            alt="fruits of life"
          />
        </div> -->

        <div class="col-md-6 col-lg-6 mt-5" style="background-color: #f4f4f4">
          <h1 class="text-uppercase" style="font-weight: 600; color: #b00">
            Topic: <%=element.title%>
          </h1>
          <h6 class="mb-2 text-muted">
            FRUITS OF LIFE DAILY DEVOTION BY PASTOR KINGSLEY OYAKHILOME
          </h6>
          <h5 class="mb-2 text-black"><%=element.date%></h5>
          <h5 class="mb-2 text-m uted">Scripture: <%=element.scripture%></h5>
          <div class="">
            <p><%=element.sermon%></p>
          </div>
          <h5 class="mb-2 text-black">
            Thought for the day: <%=element.thoughtForTheDay%>
          </h5>
          <h5 class="mb-2 text-black">Prayer: <%=element.prayer%></h5>
          <h5 class="mb-2 text-black">Confession: <%=element.confession%></h5>
          <h5 class="mb-2 text-black">
            Prophet's Blessing: <%=element.prophet_blessing%>
          </h5>
          <h5 class="mb-2 text-black">
            Daily Bible Reading: <%=element.dailyBibleReading%>
          </h5>
        </div>
        <% }) %>
      </div>
      </section>
    <a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>
  </body>
</html>
